{% extends "speciesprofile/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="card bg-secondary-clear">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>
            {{ form.non_field_errors }}
            <div class="form-group">
                {{ form.username.errors }}
                {% render_field form.username class="form-control w-75 mx-2" placeholder="Username"%}
            </div>
            <div class="form-group">
                {{ form.password.errors }}
                {% render_field form.password class="form-control w-75 mx-2" placeholder="Password"%}
            </div>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Log In</button>
        </div>
    </form>
    <div class="border-top pt3">
        <small class="text-muted">
            Need an account?
            <a href="{% url 'users:register' %}" class="ml-2">Sign Up</a>
        </small>
    </div>
</div>
{% endblock content %}