{% extends "speciesprofile/base.html" %}
{% block content %}
<div class="card bg-secondary-clear">
    <div>
        <h2>{{profile_username}}'s profile</h2>
    </div>
    <div>
        <form method="post" action="#" enctype="multipart/form-data">
            {% if user.username == profile_username %}
                {% csrf_token %}
                {{ form }}
            {% endif %}
            <button class="btn btn-primary" type="submit">Upload Species</button>
        </form>
    </div>
</div>
{% endblock content %}