{% extends "speciesprofile/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="card bg-secondary-clear">
    <div>
        <h2>{{profile_user.username}}'s profile</h2>
    </div>
    <div>

        {% if user == profile_user %}
        <button id="show-upload-button" class="btn btn-outline-info">Upload New Species</button>
        <div id="upload-form-id" style="display: none;">
            <form method="post" action="#" enctype="multipart/form-data">
                <legend class="border-bottom mb-4">Upload Species</legend>
                <div>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group">
                        {{ form.common_name.errors }}
                        {% render_field form.common_name class="form-control w-75 mx-2" placeholder="Common Name (If any)"%}
                    </div>
                    <div class="form-group">
                        {{ form.species.errors }}
                        {% render_field form.species class="form-control w-75 mx-2" placeholder="Species"%}
                    </div>
                    <div class="form-group">
                        {{ form.max_size.errors }}
                        {% render_field form.max_size class="form-control w-75 mx-2" placeholder="Max Size"%}
                    </div>
                    <div class="form-group">
                        {{ form.water_type.errors }}
                        {% render_field form.water_type class="form-control w-75 mx-2" placeholder="Water Type"%}
                    </div>
                    <div class="form-group">
                        {{ form.species.errors }}
                        <label for="{{ form.image.id_for_label }}">Upload Image:</label>
                        {{ form.image }}
                    </div>
                    <div>
                        <button class="btn btn-outline-info" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        {% endif %}
        </div>
        <div>
            <h2>Posts</h2>
            {% if posts %}
            <div class="d-flex justify-content-around">
                {% for post in posts %}
                <div class="species-prev">
                    {% if post.image %}
                    <img src="{{ post.image.url }}" alt="" height="100" width="100">
                    {% endif %}
                    {% if post.common_name %}
                    <div><a href="{% url 'speciesprofile:detail' post.id %}">{{post.common_name}}</a></div>
                    {% else %}
                    <div><a href="{% url 'speciesprofile:detail' post.id %}">{{post.species}}</a></div>
                    {% endif %}
                    <small><a href="{% url 'users:profile' post.author %}">{{post.author}}</a></small>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>

    </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static 'speciesprofile/js/uploadform.js'%}"></script>
{% endblock scripts %}