{% extends "speciesprofile/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="card bg-secondary-clear">
    <legend class="border-bottom mb-4">
        <div>Update Species</div>
        <ul class="nav nav-tabs update-tab">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'speciesprofile:update' object.id %}">Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Images</a>
            </li>
        </ul>
    </legend>
    <form method="post" id="imagesForm" action="#" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="images-formset">
            <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="0">
                <ol id="sortable" class="carousel-indicators">
                    {% for image in profile_images %}
                        <li id="thumb{{forloop.counter0}}" data-target="#carousel" data-slide-to="{{forloop.counter0}}" order-id="{{forloop.counter0}}" class="{% if forloop.counter0 == 0 %}active{% endif %}">
                            <img img-id="{{image.id}}" src="{{ image.image.url }}" width="100">
                        </li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for image in profile_images %}
                        <div id="inner-img{{forloop.counter0}}" class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                            <img id="image{{forloop.counter0}}" class="rounded mx-auto d-block" src="{{ image.image.url }}" alt="">
                            <button id="delete{{forloop.counter0}}" delete-img="{{forloop.counter0}}" type="button" class="deleteBtn" name="deleteBtn" value="{{image.id}}">Delete</button>
                        </div>
                    {% endfor %}
                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div>Add Image: {{ form.image }}</div>
                <div>
                    <button class="btn btn-outline-info" name="uploadImage" type="submit" value="upload">Submit Image</button>
                </div>
            </div>
        </div>
        <div>
            <input type="hidden" name="deleteList" id="deleteList" value="" />
            <button class="btn btn-outline-info" name="saveImages" id="saveImages" type="submit" value="">Save</button>
        </div>
    </form>
</div>
{% endblock content %}
{% block scripts %}
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"></script>
    <script src="{% static 'speciesprofile/js/sortableImages.js'%}"></script>
{% endblock scripts %}