{% extends 'speciesprofile/base.html'%}
{% block content %}
<div class="card bg-secondary-clear">
    <div class="mx-2">
        <h2>Advanced Search</h2>
    </div>
    <form class="" method="POST" action="{% url 'speciesprofile:advanced-search' %}">
        {% csrf_token %}
        <div id="upload-form-id">
            <div class="form-group">
                <input name="minsize" id="minSize" class="form-control w-75 mx-2" type="number" step="0.1" placeholder="Min Size">
            </div>
            <div class="form-group">
                <input name="maxsize" id="maxSize" class="form-control w-75 mx-2" type="number" step="0.1" placeholder="Max Size">
            </div>
            <div class="form-group">
                <label for="waterSelect" class="mx-2">Water Type</label>
                <select class="form-control w-75 mx-2" id="waterSelect" name="waterSelect">
                    <option value="Any">Any</option>
                    <option value="Fresh">Freshwater</option>
                    <option value="Salt">Saltwater</option>
                    <option value="Brackish">Brackish water</option>
                </select>
            </div>
            <div class="form-group">
                <input name="minprice" id="minPrice" class="form-control w-75 mx-2" type="number" step="0.01" placeholder="Min Price">
            </div>
            <div class="form-group">
                <input name="maxprice" id="maxPrice" class="form-control w-75 mx-2" type="number" step="0.01" placeholder="Max Price">
            </div>
            <div>
                <button class="btn btn-outline-info my-2 my-sm-0" name="size-search" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}