<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AquaNet</title>
        <!-- Custom Compiled Bootstrap css -->
        <link rel="stylesheet" href="{% static 'speciesprofile/style.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="{% url 'speciesprofile:index' %}">AquaNet</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'speciesprofile:index' %}">Home</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'users:profile' user.username %}">My Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'users:logout' %}">Log Out</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'users:login' %}">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'users:register' %}">Sign Up</a>
                            </li>
                        {% endif %}
                    </ul>
                    <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'speciesprofile:name-search' %}">
                        {% csrf_token %}
                        <input class="form-control mr-sm-2" type="text" name="SearchSpecies" id="SearchSpecies" placeholder="Search">
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <button class="btn btn-secondary my-2 my-sm-0" id="searchButton" type="submit">Search</button>
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <a class="dropdown-item" href="{% url 'speciesprofile:advanced-search' %}">Advanced Search</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
        <div class="index-bg">
            <div class="container">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{message}}</div>
                    {% endfor %}
                {% endif %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <!-- Include jQuery -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>

        <!-- Include bootstrap js -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
                integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
                crossorigin="anonymous"></script>

        <script src="{% static 'speciesprofile/js/checkEmpty.js' %}"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>