{% extends "speciesprofile/base.html" %}
{% block content %}
<div class="card bg-secondary-clear">
    <form method="post" action="#" enctype="multipart/form-data">
        <div>
            {% csrf_token %}
            <div>
                {% if object.common_name %}
                    <h2>Are you sure you want to delete {{ object.common_name }}?</h2>
                {% else %}
                    <h2>Are you sure you want to delete {{ object.species }}?</h2>
                {% endif %}
                {% if object.image %}
                    <img src="{{ object.image.url }}" alt="">
                {% endif %}
                <div>
                    <button class="btn btn-outline-danger" type="submit">Confirm delete</button>
                    <a class="btn btn-primary" href="{% url 'speciesprofile:detail' object.id %}">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}