{% extends 'speciesprofile/base.html'%}
{% block content %}
<div class="card bg-secondary-clear">
    <div>
        <div>Recent Uploads</div>
        {% if species_list %}
            <div class="d-flex justify-content-around">
                {% for species in species_list %}
                    <div class="species-prev">
                        {% if species.thumbnail_url %}
                        <a href="{% url 'speciesprofile:detail' species.id %}">
                            <div class="img-container">
                                <img src="{{ species.thumbnail_url }}" alt="" width="200" height="150">
                            </div>
                        </a>
                        {% endif %}
                        {% if species.common_name %}
                        <div>{{species.common_name}}</div>
                        {% else %}
                        <div>{{species.species}}</div>
                        {% endif %}
                        <small><a href="{% url 'users:profile' species.author %}">{{species.author}}</a></small>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div>Featured Uploads</div>
    </div>
</div>
{% endblock %}