<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'speciesprofile/css/style.css'%}">
</head>
<body>
    <div>Home page of AquaNet, using templates.</div>
    <div>
        <div>Profiles</div>
        {% if species_list %}
            {% for species in species_list %}
                 <div class="species-div">
                     {% if species.common_name %}
                        <div><a href="{% url 'speciesprofile:detail' species.id %}">{{species.common_name}}</a></div>
                     {% else %}
                        <div><a href="{% url 'speciesprofile:detail' species.id %}">{{species.species}}</a></div>
                     {% endif %}
                 </div>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>