{% extends 'speciesprofile/base.html'%}
{% block content %}
<div class="card">
    <div class="d-flex">
        <div>
            <div class="card search-card">
                <div class="list-header">
                    <div class="ml-4 mt-10px">Search Options</div>
                </div>
                <div>
                    <form class="" method="POST" action="{% url 'speciesprofile:advanced-search' %}">
                        {% csrf_token %}
                        <div id="upload-form-id">
                            <div class="ml-3 mt-3">Size</div>
                            <hr class="search-divider">
                            <div class="form-group">
                                <input name="minsize" id="minSize" class="form-control search-input" type="number" step="0.1" placeholder="Min Size" value="{{min_size}}">
                            </div>
                            <div class="form-group">
                                <input name="maxsize" id="maxSize" class="form-control search-input" type="number" step="0.1" placeholder="Max Size" value="{{max_size}}">
                            </div>
                            <div class="form-group">
                                <label for="waterSelect" class="ml-3">Water Type</label>
                                <hr class="search-divider">
                                <select class="form-control search-input" id="waterSelect" name="waterSelect">
                                    <option value="{{water_type}}" selected disabled hidden>
                                        {% if water_type %}
                                            {% if water_type == 'Brackish'%}
                                            {{ water_type }} water
                                            {% else %}
                                            {{ water_type }}water
                                            {% endif %}
                                        {% else %}
                                            Any
                                        {% endif %}
                                    </option>
                                    <option value="">Any</option>
                                    <option value="Fresh">Freshwater</option>
                                    <option value="Salt">Saltwater</option>
                                    <option value="Brackish">Brackish water</option>
                                </select>
                            </div>
                            <div class="ml-3">Price</div>
                            <hr class="search-divider">
                            <div class="form-group">
                                <input name="minprice" id="minPrice" class="form-control search-input" type="number" step="0.01" placeholder="Min Price" value="{{min_price}}">
                            </div>
                            <div class="form-group">
                                <input name="maxprice" id="maxPrice" class="form-control search-input" type="number" step="0.01" placeholder="Max Price" value="{{max_price}}">
                            </div>
                            <input type="hidden" name="search-input" id="orderList" value="{{search}}"/>
                            <div>
                                <button class="btn btn-outline-info my-2 my-sm-0 ml-10px" name="size-search" type="submit">
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="w-100">
            <div class="mr-50px">
                {% if search %}
                <div class="search-header mt-50px">Search results for "{{ search }}"</div>
                <div class="mt-4">
                    {% if result_list %}
                    <div class="d-flex flex-column">
                        {% for post in result_list %}
                        <div class="species-prev">
                            {% if post.thumbnail %}
                                {% if post.thumbnail_aspect_ratio > 1.778 %}
                                <img src="{{ post.thumbnail.url }}" width="282">
                                {% else %}
                                <img src="{{ post.thumbnail.url }}" height="190">
                                {% endif %}
                            {% endif %}
                            {% if post.common_name %}
                            <div><a href="{% url 'speciesprofile:detail' post.id %}">{{post.common_name}}</a></div>
                            {% else %}
                            <div><a href="{% url 'speciesprofile:detail' post.id %}">{{post.species}}</a></div>
                            {% endif %}
                            <small><a href="{% url 'users:profile' post.author %}">{{post.author}}</a></small>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div>No Results Found</div>
                    {% endif %}
                </div>
                {% else %}
                <div>Enter a species to search</div>
                <form class="form-inline my-2 my-lg-0" method="POST" action="">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2" type="text" name="SearchSpecies" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" name="SearchButton" type="submit">Search</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}