{% extends 'speciesprofile/base.html'%}
{% block content %}
<div class="card">
    <div class="d-flex">
        <div>
            <div class="card search-card">
                <div class="list-header">
                    <div class="ml-4 mt-10px">Search Options</div>
                </div>
                <div>
                    <form class="" method="POST" action="{% url 'speciesprofile:advanced-search' %}">
                        {% csrf_token %}
                        <div id="upload-form-id">
                            <div class="ml-3 mt-3">Size</div>
                            <hr class="search-divider">
                            <div class="form-group">
                                <input name="minsize" id="minSize" class="form-control search-input" type="number" step="0.1" placeholder="Min Size" value="{{min_size}}">
                            </div>
                            <div class="form-group">
                                <input name="maxsize" id="maxSize" class="form-control search-input" type="number" step="0.1" placeholder="Max Size" value="{{max_size}}">
                            </div>
                            <div class="form-group">
                                <label for="waterSelect" class="ml-3">Water Type</label>
                                <hr class="search-divider">
                                <select class="form-control search-input" id="waterSelect" name="waterSelect">
                                    <option value="{{water_type}}" selected disabled hidden>
                                        {% if water_type %}
                                            {% if water_type == 'Brackish'%}
                                            {{ water_type }} water
                                            {% else %}
                                            {{ water_type }}water
                                            {% endif %}
                                        {% else %}
                                            Any
                                        {% endif %}
                                    </option>
                                    <option value="">Any</option>
                                    <option value="Fresh">Freshwater</option>
                                    <option value="Salt">Saltwater</option>
                                    <option value="Brackish">Brackish water</option>
                                </select>
                            </div>
                            <div class="ml-3">Price</div>
                            <hr class="search-divider">
                            <div class="input-group usd">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input name="minprice" id="minPrice" class="form-control search-input" type="number" step="0.01" placeholder="Min Price" value="{{min_price}}">
                            </div>
                            <div class="input-group usd">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input name="maxprice" id="maxPrice" class="form-control search-input" type="number" step="0.01" placeholder="Max Price" value="{{max_price}}">
                            </div>
                            <input type="hidden" name="search-input" id="orderList" value="{{search}}"/>
                            <div>
                                <button class="btn btn-outline-info my-2 my-sm-0 ml-10px" name="size-search" type="submit">
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="w-100">
            <div class="mr-50px">
                <div class="search-header mt-50px">Search results{% if search %} for "{{ search }}"{% endif %}</div>
                <div class="mt-4">
                    {% if result_list %}
                    <div class="posts-list d-flex justify-content-around">
                        {% for species in result_list %}
                        <div class="species-prev">
                            <a href="{% url 'speciesprofile:detail' species.id %}">
                                <div class="img-container">
                                    {% if species.thumbnail %}
                                        {% if species.thumbnail_aspect_ratio < 0.75 %}
                                            <img src="{{ species.thumbnail.url }}" height="190">
                                        {% elif species.thumbnail_aspect_ratio > 2.3 %}
                                            <img src="{{ species.thumbnail.url }}" width="282">
                                        {% else %}
                                            <img src="{{ species.thumbnail.url }}" height="190" width="282">
                                        {% endif %}

                                    {% else %}
                                        <img src="/media/species-images/default.jpg" width="282" height="190">
                                    {% endif %}
                                </div>
                            </a>
                            {% if species.common_name %}
                            <div class="name-div pt-1">{{species.common_name}}</div>
                            {% else %}
                            <div class="name-div pt-1">{{species.species}}</div>
                            {% endif %}
                            {% if species.price %}
                            <div class="price-div pt-1">${{species.price|floatformat:2}}</div>
                            {% endif %}
                            <div class="author-link">
                                <a href="{% url 'users:profile' species.author %}">{{species.author}}</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div>No Results Found</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}