{% extends 'speciesprofile/base.html'%}
{% block content %}
<div class="card bg-secondary-clear">
    <div>Search results for: </div>
    <div>
        {% if result_list %}
            <div class="d-flex flex-column">
                {% for post in result_list %}
                    <div class="species-prev">
                        {% if post.image %}
                        <img src="{{ post.image.url }}" alt="" height="100" width="100">
                        {% endif %}
                        {% if post.common_name %}
                        <div><a href="{% url 'speciesprofile:detail' post.id %}">{{post.common_name}}</a></div>
                        {% else %}
                        <div><a href="{% url 'speciesprofile:detail' post.id %}">{{post.species}}</a></div>
                        {% endif %}
                        <small><a href="{% url 'users:profile' post.author %}">{{post.author}}</a></small>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}