{% extends "speciesprofile/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="card bg-secondary-clear">
    <form method="post" action="#" enctype="multipart/form-data">
            <legend class="border-bottom mb-4">
                <div>Update Species</div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'speciesprofile:images-formset' object.id %}">Images</a>
                    </li>
                </ul>
            </legend>
            <div id="form">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                    {{ form.common_name.errors }}
                    {% render_field form.common_name class="form-control w-75 mx-2" placeholder="Common Name (If any)"%}
                </div>
                <div class="form-group">
                    {{ form.species.errors }}
                    {% render_field form.species class="form-control w-75 mx-2" placeholder="Species"%}
                </div>
                <div class="form-group">
                    {{ form.max_size.errors }}
                    {% render_field form.max_size class="form-control w-75 mx-2" placeholder="Max Size"%}
                </div>
                <div class="form-group">
                    {{ form.water_type.errors }}
                    {% render_field form.water_type class="form-control w-75 mx-2" placeholder="Water Type"%}
                </div>
                <div id="update-images"></div>
                <div>
                    <button class="btn btn-outline-info" type="submit">Submit</button>
                </div>
            </div>
        </form>
</div>
{% endblock content %}