.species-div{
    height: fit-content;
    width: fit-content;
    padding-top: 10px;
    text-align: center;
    padding: 10px;
}

.species-prev{
    background-color: rgba(110, 185, 245, 0.5);
    color: black;
    a{
        color: black;
    }
    height: fit-content;
    width: 200px;
    margin-top: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    transition-duration: .3s;
    &:hover{
        background: rgba(white, 0.5);
        color: black;
        a{
            color:black
        }
    }
}

.img-container{
    position: relative;
    width: 200px;
    height: 113px;
    background: black;
    img{
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.index-bg{
    background-image: url("clownfish.jpg");
    background-size: cover;
    height: 1000px;
}


.bg-secondary-clear{
    background: rgba(($secondary), 0.75);
}

.carousel-indicators{
    li{
        text-indent: 0;
        width: 100px;
        height: 100px;
    }
}

.carousel-container{
    width: 640px;
    height: 360px;
}

.carousel-control-prev{
    height: 80%;
}

.carousel-control-next{
    height: 80%;
}

.inner-bg{
    position: relative;
    width: 640px;
    height: 360px;
    img{
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}