.ml-50px{
    margin-left: 50px;
}

.mr-50px{
    margin-right: 50px;
}

.mb-50px{
    margin-bottom: 50px;
}

.mt-50px{
    margin-top: 50px;
}

.mt-10px{
    margin-top: 10px;
}

.ml-10px{
    margin-left: 10px;
}

.mt-150px{
    margin-top: 150px;
}

.mb-150px{
    margin-bottom: 150px;
}

.species-prev{
    position: relative;
    background-color: #CEDDEF;
    border-radius: 15px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    height: 264px;
    width: 282px;
    text-align: center;
    margin-bottom: 50px;
    transition-duration: .3s;
    a{
        font-size: 12px;
        color: #1F3C88;
    }
    .name-div{
        line-height: 1em;
    }
    .author-link{
        position: absolute;
        bottom: 0;
        right: .5em;
    }
    .price-div{
        font-size: 20px;
        color: green;
    }
}

.posts-list{
    flex-wrap: wrap;
}

.update-form{
    background: #F3F9FF;
    margin: 50px;
}

.img-container{
    position: relative;
    width: 282px;
    border-radius: 15px 15px 0 0;
    height: 190px;
    background: black;
    img{
        border-radius: 15px 15px 0 0;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        object-fit: cover;
    }
}

.index-bg{
    background-image: linear-gradient(to top right, #1F3C88, #58A7D4);
    padding-bottom: 100px;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}


.bg-secondary-clear{
    width: 550px;
    background: rgba((#070D59), 0.60);
    color: white;
}

.carousel-indicators{
    bottom: -130px;
    li{
        background-color: black;
        border-top: none;
        border-bottom: none;
        border-radius: 5px;
        position: relative;
        text-indent: 0;
        width: 100px;
        height: 100px;
        img{
            position: relative;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            object-fit: cover;
        }
    }
}

.carousel-container{
    margin: 50px;
    width: 800px;
    height: 580px;
}

.carousel-control-prev{
    height: 80%;
}

.carousel-control-next{
    height: 80%;
}

.inner-bg{
    position: relative;
    width: 800px;
    height: 580px;
    img{
        position: relative;
        object-fit: cover;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.deleteBtn{
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    margin-right: 15px;
    margin-top: 15px;
    span{
        background: rgba((#F3F9FF), 0.5);
        border-radius: 50%;
        color: #e00000;
        font-size: 42px;
    }
}

.carousel-control-prev-icon {
    background-image: url(arrow.svg);
    transform: rotate(180deg);
}

.carousel-control-next-icon{
    background-image: url(arrow.svg);
}

.container{
    font-family: Calibri;
}

.card{
    border: none;
    border-radius: 15px;
    .blue-card{
        margin: 50px 50px 0 50px;
        background: #CEDDEF;
        height: 380px;
        width: 290px;
    }

    .salt-card{
        margin: 50px;
        background: #CEDDEF;
        height: 380px;
        width: 290px;
    }

    .search-card{
        margin: 50px;
        background: #CEDDEF;
        height: 520px;
        width: 290px;
    }
}

.list-header{
    height: 60px;
    vertical-align: middle;
    border-radius: 15px 15px 0 0;
    font-size: 24px;
    background: #5893D4;
    color: white;
}

.navbar-dark{
    color: white;
    .navbar-brand{
        font-weight: bold;
        font-size: 32px;
    }

    .navbar-nav{
        .nav-item{
            font-size: 20px;
            color: white;
            a{
                color: white;
            }
        }
        .nav-link{
            border-bottom: 3px solid transparent;
            &:hover{
                border-bottom: 3px solid;
                border-color: $orange;
            }
        }
    }
}

.nav-link.update-tab{
    margin-right: 20px;
    background: #E6EEF7;
    color: #070D59;
}

.nav-link.update-tab.active{
    color: white;
    background: #5893D4;
}

.user-container{
    margin: 50px;
}

.upload-container{
    background: #F3F9FF;
    border-radius: 15px;
}

.image-upload-div{
    border: 4px dashed #ced4da;
    border-radius: 0.25em;
    background: white;
    position: relative;
}

.upload-image-text{
    width: 100%;
    min-height: 100px;
    padding: 30px;
    background: rgba(255,255,255,0.2);
    border: 2px dashed rgba(255,255,255,0.2);
    text-align: center;
}

.img-upload-prev{
    margin: 0 auto;
    text-align: center;
    width: 141px;
    height: 95px;
    background: black;
    img{
        border-radius: .25em;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.user-img-upload{
    width: 50%;
    margin-left: 25%;
}

.image-upload-box{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}

.image-upload-box2{
    background: white;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #ced4da;
}

.login-screen{
    background-image: url("bg.jpg");
    background-size: cover;
    height: 100%;
}

.login-btn{
    width: 160px;
    height: 60px;
    border-width: 2px;
    font-size: 24px;
    margin-bottom: 50px;
    color: white;
    border-color: #4BA1FF;
    &:hover{
        background: #4BA1FF;
        border-color: #4BA1FF;
    }
}

.logo-text{
    margin: 50px 0 50px 0;
    font-size: 56px;
    text-align: center;
    a{
        color: white;
        &:hover{
           color: #CEDDEF; 
           text-decoration: none;
        }
    }

}

.card-divider{
    margin: -8px 50px 0 50px;
    border-width: 4px;
    border-radius: 15px;
    border-color: #CEDDEF;
}

.search-divider{
    margin: -2px 0 0 12px;
    border-width: 4px;
    border-radius: 15px;
    border-color: #5893D4;
    width: 50%;
}

.detail-divider{
    border-width: 4px;
    border-radius: 15px;
    border-color: #1F3C88;
}

.light-blue-divider{
    margin: -2px 0 20px 0;
    border-width: 4px;
    border-radius: 15px;
    border-color: #CEDDEF;
}

.form-group{
    .input{
        margin: 20px 50px 20px 50px;
    }
    .search-input{
        margin: 10px;
        width: 16.5em;
    }
}

.login-muted{
    margin-left: 50px;
    font-size: 18px;
    color: #AAC1FF;
    a{
        color: #CEDDEF;
    }
}

.footer-text{
    padding-top: 200px;
    text-align: center;
    font-size: 16px;
}

.common-title{
    font-size: 24px;
    font-weight: bold;
}

.species-title{
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}

.list-group-item{
    background: #CEDDEF;
    border: none;
    padding: 10px 0 0 0;
    font-size: 18;
    a{
        color: #00188F;
    }
}

.attributes-text{
    font-size: 20px;
}

.description-box{
    background: #F3F9FF;
    border-radius: 15px;
    min-height: 300px;
    padding-bottom: 20px;
}

.user-box{
    padding: 50px;
    background: #F3F9FF;
    border-radius: 15px;
    padding-bottom: 50px;
    text-align: center;
    height: fit-content;
}

.search-header{
    background: #1F3C88;
    font-size: 20px;
    color: white;
    padding: 10px 0 10px 25px;
    border-radius: 15px;
}

.price-box{
    background: #649D66;
    color: white;
    font-size: 22px;
    padding: 10px;
    border-radius: 15px;
    height: fit-content;
}

.profile-img{
    img{
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }
}

.chat-user-img{
    img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
}

.chat-message-box{
    color: white;
    max-width: 50%;
    position: relative;
    padding: 10px;
    background-color: #5893D4;
    margin-left: 10px;
    border-radius: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.chat-message-box.other{
    color: black;
    background-color: #dce3e8;
}

.chat-time-stamp{
    color: black;
    position: absolute;
    bottom: -20px;
    font-size: 11px;
    white-space: nowrap;
}

.chat-time-stamp.sender{
    right: 0;
}

.chat-time-stamp.reciever{
    left: 0;
}

.threads-container{
    margin-bottom: 50px;
    height: fit-content;
    width: 25%;
    border-radius: 15px;
    background-color: #F3F9FF;
}

.thread-divider{
    border-width: 2px;
    border-color: #a9d2ff;
    margin: 0 5px 0 5px;
    border-radius: 0.25em;
}

.thread-box{
    transition-duration: 0.15s;
    &:hover{
        border-radius: 15px;
        background-color: #c2d8ef;
    }
}

#conversation-container{
    margin-right: 50px;
}

#chat-message-submit{
    border: none;
    color: #5893D4;
    background-color: white;
    margin-left: 5px;
}

@media (min-width: 1820px){
    .container{
        max-width: 1720px;
    }
}