$primary: rgb(35, 47, 114);
$secondary: rgb(182, 250, 250);

$navbar-dark-color:                 rgba($secondary, .5);
$navbar-dark-hover-color:           rgba($secondary, .75);
$navbar-dark-active-color:          $secondary;
$navbar-dark-disabled-color:        rgba($secondary, .25);