$primary: rgb(2, 92, 177);
$secondary: rgb(208, 240, 255);

$navbar-dark-color:                 rgba($secondary, .5);
$navbar-dark-hover-color:           rgba($secondary, .75);
$navbar-dark-active-color:          $secondary;
$navbar-dark-disabled-color:        rgba($secondary, .25);