{% load static %}
<div id="conversation-card" class="card">
    <h3 class="ml-3 mt-4">Conversation with {{reciever}}</h3>
    <div id="chat-container" class="card">
        {% for message in chat_messages %}
        {% if message.sender == user %}
        <div class="d-flex justify-content-end mb-4 mr-3">
            <div class="chat-message-box">
                {{message.message}}
                <span class="chat-time-stamp sender">{{message.date}}</span>
            </div>
        </div>
        {% else %}
        <div class="d-flex justify-content-start mb-4 ml-3">
            <div class="chat-user-img">
                <img src="{{reciever_image}}">
            </div>
            <div class="chat-message-box other">
                {{message.message}}
                <span class="chat-time-stamp reciever">{{message.date}}</span>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <div id="isTyping" class="ml-3" style="display: none;">
        <div>{{reciever}} is typing...</div>
    </div>
    <div id="chatBottom"></div>
    <div class="d-flex form-group mt-2">
        <input id="chat-message-input" class="form-control ml-3" type="text" size="100" placeholder="Type a message...">
        <button id="chat-message-submit" type="button" value="Send"><span class="material-icons">send</span></button>
    </div>
    {{ room_name|json_script:"room-name" }}
</div>
