{% extends "speciesprofile/base.html" %}
{% load static %}
{% block content %}
<div class="card">
    <h3>Conversation with {{reciever}}</h2>
    <div id="chat-container" class="card">
        {% for message in chat_messages %}
        {% if message.sender == user %}
        <div class="d-flex justify-content-end mb-4 mr-3">
            <div class="chat-message-box">
                {{message.message}}
                <span class="chat-time-stamp sender">{{message.date}}</span>
            </div>
        </div>
        {% else %}
        <div class="d-flex justify-content-start mb-4 ml-3">
            <div class="chat-user-img">
                <img src="/media/species-images/default.jpg">
            </div>
            <div class="chat-message-box">
                {{message.message}}
                <span class="chat-time-stamp reciever">{{message.date}}</span>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <button id="testBtn">Press for mess</button>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
</div>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'userschat/js/socket.js'%}"></script>
{% endblock scripts %}