{% extends "speciesprofile/base.html" %}
{% load static %}

{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock head %}

{% block content %}
<div class="card">
    <div id="threads-parent" class="d-flex">
        <div id="threads-container" class="ml-50px mt-4">
            <div id="thread-header">
                <h4 class="ml-3 mt-2">Recent</h4>
                <hr class="thread-divider">
            </div>
            {% for thread in threads %}
                {% if thread.get_last_message %}
                    {% if forloop.counter0 != 0 %}
                    <hr class="thread-divider">
                    {% endif%}
                    <div class="thread-box d-flex p-3" data-thread-id="{{thread.id}}">
                        <div class="chat-user-img">
                            {% if thread.first_user == user %}
                                <a href="{% url 'users:profile' thread.second_user %}"><img src="{{thread.get_second_user_image}}" alt="" height="50" width="50"></a>
                            {% else %}
                                <a href="{% url 'users:profile' thread.first_user %}"><img src="{{thread.get_first_user_image}}" alt="" height="50" width="50"></a>
                            {% endif %}
                        </div>
                        <div class="ml-2">
                            <div class="font-weight-bold">{{thread.second_user}}</div>
                            <div>{{thread.get_last_message}}</div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div id="conversation-container">
            <div class="ml-2 mt-4">Open a conversation by clicking on it.</div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static 'userschat/js/openthread.js' %}"></script>
{% endblock scripts %}