.wrapper{
    padding-left: 100px;
    padding-right: 100px;
}

.species-div{
    background: #b2dd8b;
    height: fit-content;
    width: fit-content;
    border: solid black;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}

.species-prev{
    background: rgb(62, 219, 172);
    color: darkblue;
    height: fit-content;
    width: 200px;
    border: solid black;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}

